{% extends "base.html" %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="logo-circle">
            <i class="bi bi-chat-dots-fill"></i>
        </div>

        <h2>Welcome to GapGram</h2>

        <p class="subtitle">
            Sign in to continue
        </p>

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">

                    Username

                </label>

                <input type="text" name="username" class="form-control" required>

            </div>

            <div class="mb-4">

                <label class="form-label">

                    Password

                </label>

                <input type="password" name="password" class="form-control" required>

            </div>

            <button class="btn btn-primary auth-btn">

                Login

            </button>

        </form>

        <div class="mt-4 text-center">

            Don't have an account?

            <a href="/register">

                Register

            </a>

        </div>

    </div>

</div>

{% endblock %}